.Projects h4 {
  color: var(--text-secondary);
  text-transform: capitalize;
}

.Projects h2 {
  color: var(--secondary-color);
  margin-bottom: 50px;
}

.Cards {
  display: grid;
  gap: 50px;
  width: 90%;
  margin: 0 auto;
}

.Cards article {
  background-color: var(--primary-color);
  border: 2px solid var(--primary-color);
  padding: 40px 20px;
  border-radius: 30px;
  transition: var(--transition);
}

.Cards article:hover {
  border-color: var(--secondary-color);
  background: transparent;
}

.Cards img {
  height: 190px;
  width: 300px;
  max-width: 100%;
  object-fit: cover;
  border-radius: 30px;
}

.CardInfo h3 {
  margin: 10px 0;
  color: var(--text-primary);
}

.CardInfo .InfoTech {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

.CardInfo .tech {
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--text-secondary);
}

.buttons {
  display: flex;
  justify-content: left;
  gap: 15px;
}

@media screen and (min-width: 620px) {
  .Cards img {
    height: 215px;
    width: 360px;
  }
}

@media screen and (min-width: 720px) {
  .Cards {
    grid-template-columns: repeat(2, 1fr);
    width: 85%;
    margin: 0 auto;
    gap: 40px;
  }

  .CardInfo .tech {
    font-size: 1.6rem;
  }

  .buttons {
    justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .Cards {
    grid-template-columns: repeat(3, 1fr);
  }
}
