.button {
  border: 2px solid;
  border-radius: 6px;
  padding: 15px 20px;
  cursor: pointer;
  font-size: 1.3rem;
  font-weight: 700;
}

.button:focus {
  outline: 2px solid var(--white);
}

.PrimaryButton {
  background: var(--dark-secondary);
  border-color: var(--dark-secondary);
  color: white;
}

.SecondaryButton {
  background: transparent;
  border-color: var(--dark-secondary);
  color: white;
}

@media screen and (min-width: 650px) {
  .button {
    font-size: 1.6rem;
    padding: 20px 30px;
    transition: var(--transition);
  }

  .PrimaryButton:hover,
  .SecondaryButton:hover {
    background-color: var(--white);
    border-color: var(--white);
    color: var(--dark-primary);
  }
}