.Skills h4 {
  color: var(--text-secondary);
  text-transform: capitalize;
}

.Skills h2 {
  color: var(--secondary-color);
  margin-bottom: 50px;
}

.Card {
  padding: 30px;
  border-radius: 20px;
  background-color: var(--primary-color);
  border: 2px solid var(--primary-color);
  transition: var(--transition);
}

.Card:hover {
  background-color: transparent;
  border-color: var(--secondary-color);
}

.Content {
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
}

.Details svg {
  color: var(--secondary-color);
  height: 50px;
  width: auto;
  margin-bottom: 10px;
}

.Details h4 {
  line-height: normal;
}

@media screen and (min-width: 400px) {
  .Content {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 600px) {
  .Content {
    gap: 50px;
  }

  .Content {
    grid-template-columns: repeat(2, 1fr);
  }

  .Card {
    width: 85%;
    margin: 0 auto;
    padding: 50px;
  }
}

@media screen and (min-width: 860px) {
  .Content {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1200px) {
  .Content {
    grid-template-columns: repeat(4, 1fr);
  }

  .Card {
    width: 70%;
    margin: 0 auto;
    padding: 70px;
  }

  .Details div {
    gap: 15px;
  }
}
