.SocialList {
  display: flex;
  gap: 40px;
  justify-content: center;
}

.SocialList a {
  font-size: 2rem;
}

.SocialList a:focus {
  outline: 2px solid var(--bg-btn);
  border-radius: 2px;

}

@media screen and (min-width: 600px) {

  .SocialList li {
    transition: var(--transition);
  }

  .SocialList li:hover {
    transform: scale(1.2);
  }

  .SocialList a {
    font-size: 2.7rem;
  }
  
}