.switch {
  background: var(--secondary-color);
  border-radius: 1000px;
  border: none;
  position: relative;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  outline: none;
  transition: all 0.3s ease-in;
}

.switch::after {
  content: '';
  display: block;
  width: 35px;
  height: 35px;
  position: absolute;
  background: var(--white);
  top: 0;
  left: 0;
  right: unset;
  border-radius: 100px;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
  -webkit-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
}

.switch.active {
  background: rgb(199, 191, 191);
}

.switch.active::after {
  right: 0;
  left: unset;
}

.switch svg {
  width: 35px;
  height: 35px;
  line-height: 30px;
  display: block;
  background: none;
  color: var(--background);
  padding: 8px;
}

.switch:focus-visible {
  outline: 5px solid var(--bg-btn);
  border-radius: 100px;
}
