.SocialList {
  display: flex;
  gap: 40px;
  justify-content: center;
}

.SocialList a {
  font-size: 2rem;
  transition: var(--transition);
}

.SocialList a:focus-visible {
  outline: 3px solid var(--bg-btn);
  border-radius: 2px;
}

@media screen and (min-width: 600px) {
  .SocialList li {
    transition: var(--transition);
  }

  .SocialList li:hover {
    scale: 1.3;
  }

  .SocialList a {
    font-size: 2.7rem;
  }
}
