---
import { FaGithub, FaLinkedinIn, FaXTwitter } from 'react-icons/fa6'
import styles from './SocialMedia.module.css'
---

<ul class={styles.SocialList} data-testid="social-links">
  <li>
    <a
      href='https://github.com/fabrinucci'
      target='_blank'
      rel='noopener noreferrer'
      aria-label='GitHub'
    >
      <FaGithub />
    </a>
  </li>
  <li>
    <a
      href='https://www.linkedin.com/in/fabrinucci/'
      target='_blank'
      rel='noopener noreferrer'
      aria-label='LinkedIn'
    >
      <FaLinkedinIn />
    </a>
  </li>
  <li>
    <a
      href='https://x.com/FabrizioDev'
      target='_blank'
      rel='noopener noreferrer'
      aria-label='Twitter'
    >
      <FaXTwitter />
    </a>
  </li>
</ul>
