.Contact h4 {
  color: var(--text-secondary);
  text-transform: capitalize;
}

.Contact h2 {
  color: var(--secondary-color);
  margin-bottom: 70px;
}

.ContactContainer {
  display: grid;
  gap: 50px;
  width: 90%;
  margin: auto;
}

.ContactOptions article {
  background-color: var(--primary-color);
  border: 2px solid var(--primary-color);
  border-radius: 10px;
  padding: 40px 10px;
  margin-bottom: 30px;
  transition: var(--transition);
}

.ContactOptions article h4,
.ContactOptions article svg {
  color: var(--text-primary);
}

.ContactOptions article:hover {
  border-color: var(--secondary-color);
  background-color: transparent;
}

.ContactOptions article a:hover {
  color: var(--text-primary);
}

.ContactOptions article:last-child {
  margin: 0;
}

.ContactOptions h4 {
  color: var(--text-primary);
  margin-bottom: 10px;
}

.ContactOptions a {
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: capitalize;
  color: var(--secondary-color);
  transition: var(--transition);
}

.ContactOptions a:hover {
  color: var(--text-primary);
}

.ContactOptions a:focus {
  outline: 2px solid var(--text-primary);
  border-radius: 2px;
}

.icon {
  font-size: 2.5rem;
  color: var(--text-primary);
  margin-bottom: 10px;
}

.ContactForm input,
.ContactForm textarea {
  display: block;
  width: 100%;
  padding: 15px 10px;
  margin-bottom: 20px;
  font-size: 1.4rem;
  border: 2px solid #1a1b4b;
  border-radius: 5px;
  background-color: var(--white);
  transition: all .2s ease;
  resize: none;
  font-family: var(--primary-font);
}

.ContactForm input:focus,
.ContactForm textarea:focus {
  outline: 3px solid var(--secondary-color);
  background-color: #cfcdcd;
}


.ContactForm input:hover,
.ContactForm textarea:hover {
  background-color: #cfcdcd;
}

input::placeholder,
textarea::placeholder  {
  color: var(--black);
  font-family: var(--primary-font);
  text-transform: capitalize;
}

.ContactForm button {
  display: block;
  width: 100%;
  text-transform: capitalize;
}

@media screen and (min-width: 600px) {
  .ContactContainer {
    grid-template-columns: 35% 50%;
    gap: 15%;
    width: 80%;
  }

  .ContactForm input,
  .ContactForm textarea {
    margin-bottom: 30px;
  }

}
@media screen and (min-width: 1000px) {

  .icon {
    margin-bottom: 15px;
  }

  .ContactOptions h4 {
    margin-bottom: 15px;
  }

  .ContactOptions a {
    font-size: 1.7rem;
  }

  .ContactForm input,
  .ContactForm textarea {
    padding: 20px 15px;
    font-size: 1.6rem;
  }

  .ContactForm button {
    display: block;
    width: auto;
  }
}