.Header {
  padding: 15px 0;
  width: 90%;
  margin: 0 auto;
}

.buttonsContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 15px;
  margin-top: 20px;
}

.head {
  text-align: center;
  margin-top: 80px;
}

.head h3 {
  color: var(--text-secondary);
}

.head h1 {
  margin: 10px 0;
  line-height: 5rem;
  color: var(--text-primary);
}

.buttons {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 70%;
  gap: 20px;
  margin-top: 20px;
}

.body {
  margin-top: 20px;
  text-align: center;
}

.body .figureContainer {
  margin: 30px 0;
}

.body img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background-color: var(--secondary-color);
  border: 3px solid var(--text-secondary);
}

.about p {
  margin: 10px 0 20px 0;
  letter-spacing: 0.1em;
  color: var(--text-secondary);
}

@media screen and (min-width: 650px) {
  .Header {
    width: 80%;
  }

  .body {
    margin: 20px 0;
  }
}

@media screen and (min-width: 650px) {
  .Header {
    width: 70%;
  }

  .buttons {
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
  }

  .about p {
    text-align: left;
  }
}

@media screen and (min-width: 1600px) {
  .about p {
    margin: 10px auto 20px auto;
    width: 80%;
  }
}
