---
import { navigation } from '../data'
import { getLangFromUrl, getTranslations } from '../i18n/utils'
import SocialMedia from '../atoms/Social.astro'
import styles from './Footer.module.css'

const lang = getLangFromUrl(Astro.url)
const nav = getTranslations(lang).nav

const getValue = (obj: typeof nav, key: keyof typeof nav) => {
  if (obj.hasOwnProperty(key)) return obj[key]
  return
}
---

<script src='../scripts/navRemoveHref.ts'></script>

<footer class={styles.Footer}>
  <h2>Fabrizio Nucci</h2>
  <ul class={styles.FooterNav}>
    {
      navigation.map(({ name }) => (
        <li>
          <a
            id='nav-button'
            href={`#${name}`}
            rel='noopener noreferrer'
            aria-label={`${name} section`}
          >
            {getValue(nav, name as keyof typeof nav)}
          </a>
        </li>
      ))
    }
  </ul>
  <SocialMedia />
</footer>
