/* .NavMenu {
  background: rgba(0, 0, 0, 0.5);
  width: max-content;
  display: block;
  padding: 10px 20px;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30px;
  border-radius: 30px;
  backdrop-filter: blur(10px);
}

.NavMenu ul {
  display: flex;
  gap: 10px;
}

.NavMenu a {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border-radius: 50%;
  color: var(--white);
  transition: var(--transition);
}

.NavMenu a:focus-visible {
  outline: 3px solid var(--white);
  border-radius: 50%;
  outline-offset: -1px;
}

.active {
  background-color: var(--secondary-color);
}

.active .icon {
  color: var(--text-btn);
}

.icon svg {
  font-size: 1.8rem;
}

.text {
  font-size: 1rem;
}

@media screen and (min-width: 650px) {
  .text {
    font-size: 1.3rem;
  }
}

@media screen and (min-width: 1000px) {
  .NavMenu a {
    padding: 15px;
  }

  .NavMenu a:hover {
    background: rgba(0, 0, 0, 0.6);
  }

  .active:hover .icon {
    color: var(--white);
  }
} */

.NavMenu {
  background: rgba(0, 0, 0, 0.5);
  width: max-content;
  display: block;
  padding: 10px 20px;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30px;
  border-radius: 30px;
  backdrop-filter: blur(10px);
}

.NavMenu ul {
  display: flex;
  gap: 10px;
}

.NavMenu a {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border-radius: 50%;
  color: var(--white);
  transition: var(--transition);
}

.NavMenu a:focus-visible {
  outline: 3px solid var(--white);
  border-radius: 50%;
  outline-offset: -1px;
}

.active {
  background-color: var(--secondary-color);
}

.active .icon {
  color: var(--text-btn);
}

.icon {
  font-size: 1.8rem;
}

.text {
  font-size: 1rem;
}

@media screen and (min-width: 650px) {
  .text {
    font-size: 1.3rem;
  }
}

@media screen and (min-width: 1000px) {
  .NavMenu a {
    padding: 15px;
  }

  .NavMenu a:hover {
    background: rgba(0, 0, 0, 0.6);
  }

  .active:hover .icon {
    color: var(--white);
  }
}
