.Projects h4 {
  color: var(--text-secondary);
  text-transform: capitalize;
}

.Projects h2 {
  color: var(--secondary-color);
  margin-bottom: 50px;
}

.Cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
}

.Cards article {
  background-color: var(--primary-color);
  border: 2px solid var(--primary-color);
  border-radius: 30px;
  transition: var(--transition);
  max-width: 350px;
  margin: 0 auto;
}

.Cards article:hover {
  border-color: var(--secondary-color);
  background: transparent;
}

.CardImg {
  overflow: hidden;
}

.CardImg img {
  height: 230px;
  width: 100%;
  object-fit: cover;
  border-radius: 30px 30px 0 0;
}

.CardInfo {
  padding: 20px;
  padding-bottom: 30px;
}

.CardInfo h3 {
  margin-bottom: 10px;
  color: var(--text-primary);
}

.CardInfo .InfoTech {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

.CardInfo .tech {
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--text-secondary);
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
}

@media screen and (min-width: 720px) {
  .CardInfo .tech {
    font-size: 1.6rem;
  }
}
