.Footer {
  margin-top: 50px;
  padding: 50px;
  background-color: var(--secondary-color);
  text-align: center;
}

.Footer h2 {
  color: var(--text-btn);
  margin-bottom: 50px;
}

.Footer ul {
  margin-bottom: 50px;
}

.Footer ul a {
  transition: var(--transition);
}

.Footer ul a:focus-visible {
  outline: 3px solid var(--text-btn);
  border-radius: 2px;
}

.FooterNav {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.FooterNav a {
  font-size: 1.6rem;
  font-weight: 600;
}

.Footer a {
  color: var(--text-btn);
}

@media screen and (min-width: 600px) {
  .FooterNav {
    flex-direction: row;
    justify-content: center;
    gap: 40px;
  }

  .FooterNav a {
    font-size: 1.8rem;
  }

  .FooterNav a:hover {
    border-bottom: 2px solid var(--text-btn);
  }
}
