* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-font: 'Montserrat', sans-serif;

  --dark-primary: #2a66b4;
  --dark-secondary: #59769b;
  --light-primary: #dae1e0;
  --light-secondary: #8ab379;
  --dark-grey: #545353;
  --light-grey: #c5c5c5;
  --white: #fff;
  --black: #0a0a0a;
}

body {
  font-family: var(--primary-font);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}