---
import { getLangFromUrl } from '@i18n/utils'

interface Props {
  title: string
}

const { title } = Astro.props
const lang = getLangFromUrl(Astro.url)
---

<script>
  function scrollToTop() {
    window.scrollTo(0, 0)
  }

  window.addEventListener('load', scrollToTop)
</script>

<html lang={lang}>
  <head>
    <meta charset='UTF-8' />
    <link rel='apple-touch-icon' sizes='180x180' href='/apple-touch-icon.png' />
    <link rel='icon' type='image/png' sizes='32x32' href='/favicon-32x32.png' />
    <link rel='icon' type='image/png' sizes='16x16' href='/favicon-16x16.png' />
    <link rel='manifest' href='/site.webmanifest' />
    <link rel='canonical' href='https://fabrinucci.github.io/' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap'
      rel='stylesheet'
    />

    <title>{title}</title>
    <meta name='title' content='Fabrizio Nucci Portfolio: Web Developer' />
    <meta
      name='description'
      content="Welcome to my portfolio! I'm Fabrizio Nucci, a passionate web developer with a creative approach. Explore my projects that demonstrate my ability to create functional and beautiful experiences. I'm ready to take your ideas to the next level."
    />
    <meta
      name='keywords'
      content='web developer, web design, portfolio, user interface, responsive design, creativity, react, '
    />
    <meta name='robots' content='index, follow' />
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
    <meta name='language' content='English' />

    <meta property='og:url' content='https://fabrinucci.github.io/' />
    <meta property='og:type' content='website' />
    <meta
      property='og:title'
      content='Fabrizio Nucci Portfolio: Web Developer'
    />
    <meta
      property='og:description'
      content="Welcome to my portfolio! I'm Fabrizio Nucci, a passionate web developer with a creative approach. Explore my projects that demonstrate my ability to create functional and beautiful experiences. I'm ready to take your ideas to the next level."
    />
    <meta property='og:site_name' content='fabrinucci.github.io' />
  </head>

  <body>
    <slot />
    <style is:global>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

      :root {
        --primary-font: 'Montserrat', sans-serif;

        --transition: all 0.3s ease-in;

        --background: #ccccf1;
        --primary-color: #9e9ecd;
        --secondary-color: #3f41ae;
        --secondary-color-b: #1e2082;

        --text-primary: #100e31;
        --text-secondary: #2c2b47;
        --text-btn: #fff;

        --bg-btn: #1a1b4b;

        --black: #000;
        --white: #f5f2f2;
      }

      [data-theme='dark'] {
        --background: #1a1b4b;
        --primary-color: #292a73;
        --secondary-color: #36ace3;
        --secondary-color-b: #36ace3;

        --text-primary: #c6c7ff;
        --text-secondary: #a6a6c2;
        --text-btn: #1a1b4b;

        --bg-btn: #c6c7ff;
      }

      .theme-toggle i {
        font-size: 2rem;
        cursor: pointer;
      }

      .theme-toggle {
        text-align: center;
      }

      html {
        font-size: 62.5%;
        scroll-behavior: smooth;
      }

      ::-webkit-scrollbar {
        display: none;
      }

      body {
        font-family: var(--primary-font);
        line-height: 1.8;
        min-width: 320px;
        background-color: var(--background);
      }

      .app {
        transition: all 0.5s cubic-bezier(0.48, 0.13, 0.44, 0.97);
      }

      li {
        list-style: none;
      }

      a {
        text-decoration: none;
        color: var(--text-primary);
      }

      h1 {
        font-size: 3rem;
      }

      h2 {
        font-size: 2.5rem;
      }

      h3 {
        font-size: 2rem;
      }

      h4 {
        font-size: 1.5rem;
      }

      p {
        font-size: 1.5rem;
      }

      h1,
      h2,
      h3,
      h4,
      p {
        color: var(--text-primary);
      }

      .container {
        margin: 0 auto;
        margin-top: 50px;
        padding-top: 20px;
        width: 90%;
        text-align: center;
      }

      .btn {
        border: 2px solid;
        border-radius: 6px;
        padding: 15px 20px;
        cursor: pointer;
        font-size: 1.6rem;
        font-weight: 700;
        transition: var(--transition);
      }

      .btn:focus-visible {
        outline: 3px solid var(--bg-btn);
        outline-offset: -2px;
        border-radius: 6px;
      }

      .btn-primary {
        background: var(--secondary-color);
        border-color: var(--secondary-color);
        color: var(--background);
      }

      .btn-secondary {
        background: transparent;
        border-color: var(--secondary-color);
        color: var(--text-primary);
      }

      @media screen and (min-width: 650px) {
        h1 {
          font-size: 3.5rem;
        }

        h2 {
          font-size: 3rem;
        }

        h3 {
          font-size: 2.5rem;
        }

        h4 {
          font-size: 2rem;
        }

        p {
          font-size: 2rem;
        }

        .container {
          width: 85%;
        }

        .btn {
          transition: var(--transition);
        }

        .btn-primary:hover,
        .btn-secondary:hover {
          background-color: var(--bg-btn);
          border-color: var(--bg-btn);
          color: var(--text-btn);
        }
      }

      @media screen and (min-width: 1200px) {
        .container {
          width: 70%;
        }
      }
    </style>
  </body>
</html>
