.NavMenu {
  background: rgba(0, 0, 0, .5);
  width: max-content;
  display: block;
  padding: 5px 15px;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30px;
  border-radius: 30px;
  backdrop-filter: blur(10px);
  
}

.NavMenu ul {
  display: flex;
  /* gap: 5px; */
}

.NavMenu a {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3px;
  border-radius: 50%;
  color: var(--white);
}

.iconContainer {
  padding: 10px;
  border-radius: 50%; 
  transition: var(--transition);
}

.iconContainer:hover {
  background: rgba(0, 0, 0, 0.6);
}

.icon {
  font-size: 1.8rem;  
}

.text {
  font-size: 1rem;
}

@media screen and (min-width: 650px) {
  .text {
    font-size: 1.3rem;
  }
}